<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brazilcustomerattributes>
            <general>
                <enabled>1</enabled>
                <customer_type>0</customer_type>
                <line_neighborhood>1</line_neighborhood>
                <unique_cpfcnpj>1</unique_cpfcnpj>
            </general>
            <cpf>
                <allow_cpf>1</allow_cpf>
                <validate_cpf>1</validate_cpf>
                <allow_cpf_edit>0</allow_cpf_edit>
                <request_rg>1</request_rg>
                <allow_rg_edit>0</allow_rg_edit>
            </cpf>
            <cnpj>
                <allow_cnpj>1</allow_cnpj>
                <request_cnpj>1</request_cnpj>
                <validate_cnpj>1</validate_cnpj>
                <allow_cnpj_edit>0</allow_cnpj_edit>
                <request_ie>1</request_ie>
                <allow_ie_edit>0</allow_ie_edit>
                <request_social_name>1</request_social_name>
                <allow_social_name_edit>0</allow_social_name_edit>
            </cnpj>
        </brazilcustomerattributes>
    </default>
</config>