<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="customer_validations" instance="SystemCode\BrazilCustomerAttributes\Observer\CustomerValidations" />
    </event>
    <event name="customer_save_after">
        <observer name="customer_data" instance="SystemCode\BrazilCustomerAttributes\Observer\CustomerData" />
    </event>
</config>