<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- TODO: Complete module SystemCode_Base-->
        <!--add id="SystemCode_BrazilCustomerAttributes::title" title="Brazil Customer Attributes" translate="title" module="SystemCode_BrazilCustomerAttributes" sortOrder="100" parent="SystemCode_Base::systemcode" dependsOnModule="SystemCode_BrazilCustomerAttributes" resource="Magento_Backend::content"/>
        <add id="SystemCode_BrazilCustomerAttributes::configuration" title="Configuration" translate="title" module="SystemCode_BrazilCustomerAttributes" sortOrder="50" parent="SystemCode_BrazilCustomerAttributes::title" action="adminhtml/system_config/edit/section/brazilcustomerattributes" dependsOnModule="SystemCode_BrazilCustomerAttributes" resource="Magento_Backend::content"/-->
    </menu>
</config>